.form {
    position: relative;
    z-index: 2;
}

.form .form-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 83px;
}

.form form .form-table {
    border: none;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-gap: 23px;
    padding-bottom: 91px;
}

.form form .form-table button {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    background-color: black;
    color: white;
    max-width: 398px;
    height: 80px;
    width: 100%;
    border: 1px white solid;
    border-radius: 10px;
}

.form form .form-table .form-name {
    display: grid;
    max-width: 818px;
    height: 83px;
    width: 100%;
}

.form form .form-table .form-name input {
    padding-left: 23px;
    border-radius: 10px;
}

.form form .form-table .form-venueName {
    max-width: 818px;
    height: 83px;
    display: grid;
    width: 100%;
}

.form form .form-table .form-venueName input {
    padding-left: 23px;
    border-radius: 10px;
}

.form form .form-table .form-city {
    max-width: 818px;
    height: 83px;
    width: 100%;
    gap: 24px;
    display: flex;
}

.form form .form-table .form-city input {
    padding-left: 23px;
    border-radius: 10px;
    max-width: 397px;
    width: 100%;
}

.form form .form-table .form-email {
    display: grid;
    max-width: 818px;
    height: 83px;
    width: 100%;
}

.form form .form-table .form-email input {
    padding-left: 23px;
    border-radius: 10px;
}

.form form .form-table .form-subject {
    max-width: 818px;
    height: 83px;
    width: 100%;
    gap: 24px;
    display: grid;
}

.form form .form-table .form-subject input {
    border-radius: 10px;
    padding-left: 23px;
}

.form form .form-table .form-message {
    padding-left: 0px;
    padding-top: 0px;
    border-radius: 10px;
    max-width: 818px;
    height: 199px;
    width: 100%;
    gap: 24px;
    display: grid;
}

.form form .form-table .form-message textarea {
    border-radius: 10px;
    padding-left: 23px;
    padding-top: 30px;
}

.form form .form-table button.form-send-button {
    margin-top: 27px;
    max-width: 398px;
    height: 80px;
    width: 100%;
    cursor: pointer;
}

.form form .form-table .form-send-button:hover {
    background: #603574d5;
}

.form .form-download {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.form .form-download .form-download__text {
    display: flex;
    padding-bottom: 32px;
    max-width: 365px;
    width: 100%;
    justify-content: center;
    color: white;
    font-family: "Noto Sans";
    font-weight: 700;
    font-size: 24px;
}

.form .form-download__buttons {
    position: relative;
    z-index: 1;
    gap: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form .form-download__buttons .form-download-button__apple {
    z-index: 1;
    max-width: 258.93px;
    width: 100%;
    cursor: pointer;
}

.form .form-download__buttons .form-download-button__google {
    z-index: 1;
    width: 100%;
    max-width: 292.13px;
    cursor: pointer;
}

.form .form-download__buttons .form-light-one {
    position: absolute;
    z-index: 1;
    left: 3px;
    bottom: 1053%;
}

.form .form-download__buttons .form-light-two {
    position: absolute;
    z-index: 0;
    right: -102px;
    bottom: -60%;
}

@media (max-width: 768px) {
    .form .form-text {
        padding-bottom: 49px;
    }
    .form form .form-table {
        grid-gap: 16px;
    }
    .form form .form-table .form-city {
        max-width: 818px;
        height: 166px;
        width: 100%;
        gap: 16px;
        display: flex;
        flex-direction: column;
    }
    .form form .form-table .form-city input {
        height: 83px;
        padding-left: 23px;
        border-radius: 10px;
        max-width: -webkit-fill-available;
        width: 100%;
    }
    .form form .form-table .form-message {
        height: 140px;
    }
    .form .form-download__buttons {
        gap: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form .form-download__buttons .form-download-button__apple {
        max-width: 185px;
        width: 100%;
    }
    .form .form-download__buttons .form-download-button__google {
        max-width: 185px;
        width: 100%;
    }
    .form .form-download__buttons .form-light-one {
        position: absolute;
        z-index: 0;
        left: -30%;
        bottom: 466%;
    }
}